<div class="store-prd row">
    {{> dashboard}}
    <div class="col-xl-10">
        <h3 class="store-prd-title">SẢN PHẨM TRÊN TRANG</h3>
        <button class="back-trash-btn btn btn-outline-danger">
            <i class="fas fa-trash-alt"></i>
            Thùng rác
        </button>
        <div class="prd-action-selection flex-align-c">
            <select class="select-tag" name="" id="" required>
                <option value= "">--Hành động--</option>
                <option value= "slide">Xóa</option>
                <option value= "slide">Chọn tất cả</option>
            </select>
            <button class="prd-st-action-btn btn btn-success">Submit</button>
        </div>
        <div class="store-prd-list">
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            Check all
                        </th>
                        <th scope="col">STT</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                {{#each products}}
                <tbody>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" id="flexCheckDefault">
                        </th>
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <a class="update-link" href="/products/edit/{{this._id}}">Sửa</a>
                        </td>
                        <td>
                            <a class="delete-link" data-bs-toggle="modal" data-bs-target="#modal-prd-delete" data-bs-id="{{this._id}}" href="">Xóa</a>
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div> 
<form  name="delete-form" method="POST"></form>
<div id="modal-prd-delete" class="modal" tabindex="-1" style=" margin-top: 50px;">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">XÓA THÀNH PHẦN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span>Bạn có muốn xóa sản phẩm?</span>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-prd-delete-confirm" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            <button type="button" id="btn-prd-cancel-confirm" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
  </div>
</div>
<script> 
    const prdDeleteModel = document.getElementById('modal-prd-delete')
    const deleteConfirm = document.querySelector('#btn-prd-delete-confirm')
    const deleteForm = document.forms['delete-form'];
    prdDeleteModel.addEventListener('show.bs.modal', function (event) {
        const deletelink = event.relatedTarget;
        const id = deletelink.getAttribute('data-bs-id');
        console.log(id);
        deleteConfirm.onclick = function(){
            deleteForm.action =`/products/delete-soft/${id}?_method=DELETE`;
            deleteForm.submit();
        }
    })

</script>

